* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-shadow: none;
  font-family: "Microsoft Yahei", sans-serif;
}
.ui-loader-default {
  display: none;
}
.ui-mobile-viewport {
  border: none;
}
.ui-page {
  padding: 0;
  margin: 0;
  outline: 0;
}
.copyright {
  text-align: center;
  color: #394a48;
}
#LeadPage {
  background: #fbc84d;
}
#LeadPage .sloganBox {
  width: 100%;
  padding: 7% 0;
}
#LeadPage .sloganBox .slogan {
  display: block;
  margin: 0 auto;
  width: 90.15%;
}
#LeadPage .GameBack {
  width: 84.7185%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
}
#LeadPage .beginBtn {
  width: 62.5%;
  margin: 5px auto;
  margin-top: 5%;
}
#LeadPage .beginBtn .beginImg {
  width: 100%;
}
#SelectPage {
  background: url("../../images/party/sBack.jpg") center no-repeat;
  background-size: 100% 100%;
}
#SelectPage .sSlogan {
  width: 100%;
  margin: 7% 0;
}
#SelectPage .selector {
  display: block;
  margin: 0 auto;
  width: 61.875%;
}
#SelectPage .selector li {
  width: 100%;
  list-style: none;
  margin: 9% 0;
}
#SelectPage .selector li img {
  width: 100%;
}
#SelectPage .copyright {
  margin-top: 10%;
}
#GamePage {
  background: url("../../images/party/sBack.jpg") center no-repeat;
  background-size: 100% 100%;
  position: relative;
}
#GamePage .sAnswer {
  position: absolute;
  top: 0;
  width: 40%;
  padding: 8px 4px;
  background-color: rgba(252, 13, 13, 0.7);
  color: #fff;
  text-align: center;
  font-size: 15px;
  text-shadow: 1px 1px #333;
}
#GamePage .answer {
  border-bottom: 1px solid #000000;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  padding: 1px;
}
#GamePage .answer span {
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  visibility: hidden;
}
#GamePage .levelTitle {
  display: block;
  margin: 8% auto;
  margin-top: 10%;
  width: 26.25%;
}
#GamePage .qList {
  display: none;
  margin-bottom: 15px;
  font-size: 15px;
}
#GamePage .footer {
  position: fixed;
  width: 100%;
  top: 96%;
  height: 4%;
}
#GamePage .level0Title {
  display: block;
  margin: 10% auto;
  width: 26.25%;
  margin-top: 28%;
}
#GamePage .questionHolder {
  width: 76%;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  margin: 10px auto;
}
#RankPage {
  background: url("../../images/party/sBack.jpg") center no-repeat;
  background-size: 100% 100%;
}
#RankPage .overImg {
  display: block;
  margin: 8% auto;
  width: 75%;
}
#RankPage p {
  font-size: 18px;
  text-align: center;
  line-height: 35px;
}
#RankPage p span {
  font-size: 20px;
  padding: 6px;
}
#RankPage .phoneInput {
  display: block;
  padding: 6px;
  margin: 6% auto;
  width: 55%;
}
#RankPage div {
  margin: 0 auto;
  margin-bottom: 8%;
  width: 65%;
}
#RankPage .copyright {
  font-size: 10px;
  position: fixed;
  top: 95%;
  width: 100%;
}
@media (min-width: 410px) {
  .GameBack {
    width: 79% !important;
    font-size: 16px !important;
  }
  .slogan {
    width: 95.5% !important;
  }
  .level0Title {
    width: 45% !important;
  }
  .questionHolder {
    line-height: 45px !important;
  }
}
@media (max-width: 340px) {
  .beginBtn {
    margin-top: 3% !important;
  }
  .slogan {
    width: 82% !important;
  }
  .GameBack {
    font-size: 12px !important;
  }
  .sSlogan {
    margin: 5% auto !important;
  }
  .questionHolder {
    font-size: 14px !important;
  }
  .questionHolder .answer {
    font-size: 15px !important;
  }
  .questionHolder .answer span {
    font-size: 15px !important;
  }
  .qList {
    font-size: 13px !important;
  }
  .qList .answer {
    font-size: 14px !important;
  }
  .qList .answer span {
    font-size: 14px !important;
  }
}
