* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-shadow: none;
}
.ui-loader-default {
  display: none;
}
.ui-mobile-viewport {
  border: none;
}
.ui-page {
  padding: 0;
  margin: 0;
  outline: 0;
}
.copyright {
  text-align: center;
  color: #394a48;
}
#LeadPage {
  background: #fbc84d;
}
#LeadPage .sloganBox {
  width: 100%;
  padding: 7% 0;
}
#LeadPage .sloganBox .slogan {
  display: block;
  margin: 0 auto;
  width: 93.15%;
}
#LeadPage .GameBack {
  width: 86.7185%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
}
#LeadPage .beginBtn {
  width: 62.5%;
  margin: 15px auto;
}
#LeadPage .beginBtn .beginImg {
  width: 100%;
}
#SelectPage {
  background: url("../../images/party/sBack.jpg") center no-repeat;
  background-size: 100% 100%;
}
#SelectPage .sSlogan {
  width: 100%;
  margin: 7% 0;
}
#SelectPage .selector {
  display: block;
  margin: 0 auto;
  width: 61.875%;
}
#SelectPage .selector li {
  width: 100%;
  list-style: none;
  margin: 9% 0;
}
#SelectPage .selector li img {
  width: 100%;
}
#SelectPage .copyright {
  margin-top: 10%;
}
#GamePage {
  background: url("../../images/party/sBack.jpg") center no-repeat;
  background-size: 100% 100%;
}
#GamePage .levelTitle {
  display: block;
  margin: 6% auto;
  width: 26.25%;
}
#GamePage .footer {
  position: fixed;
  width: 100%;
  top: 85%;
  height: 15%;
}
#GamePage .footer .seeRank {
  display: block;
  width: 61.71%;
  margin: 5px auto;
}
#GamePage .level0Title {
  display: block;
  margin: 10% auto;
  width: 26.25%;
  margin-top: 28%;
}
#GamePage .questionHolder {
  width: 75.625%;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  margin: 10px auto;
}
