*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
}
#loading_web{
    width: 320px;
    margin: 0 auto;
    height: 480px;
    background: #ffffff;
    line-height: 480px;
    text-align: center;
}
#bg_web{
    margin: 0 auto;
    width: 320px;
    height: 480px;
    position: relative;
    text-align: center;
    overflow: hidden;
    display: none;
}
#begin_img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
#tips{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#tip_web{
    margin: 0 auto;
    width: 320px;
    height: 480px;
    position: relative;
    display: none;
}
#game_web{
    margin: 0 auto;
    text-align: center;
    width: 320px;
    height: 480px;
    display: none;
    position: relative;
    overflow: hidden;
}
#games_bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#share{
    margin: 0 auto;
    width: 320px;
    height: 480px;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: none;
}
#share_img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.normal{
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    top: 450px;
    left: 0;
}
.score{
    left: 20px;
}
.time{
    left: 200px;
}
#game_box{
    background: url("games_bg.png")center no-repeat;
    width: 311px;
    height: 353px;
    margin:95px auto;
    display: inline-block;
    position: relative;
}
.dot{
    position: absolute;
    border-radius: 50%;
    background: #3b2a01;
    color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    left: 14px;
    top: 28px;
    cursor: pointer;
}
.person{
    background:url("person_03.png");
    width: 34px;
    height: 64px;
    position: absolute;
    z-index: 1000;
    top: -5px;
    left: 14px;
}
.begin_btn{
    cursor: pointer;
    font-size: 19px;
    font-weight: 800;
    text-shadow: 1px 1px 2px #dbff8e;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #3a6a2b;
    background: linear-gradient(#baf24c,#2c7715);
    background: -webkit-linear-gradient(#baf24c,#2c7715);
    background: -ms-linear-gradient(#baf24c,#2c7715);
    background: -moz-linear-gradient(#baf24c,#2c7715);
    background: -o-linear-gradient(#baf24c,#2c7715);
    text-align: center;
    box-shadow: 3px 6px 0px #6cd4ef;
    border-radius: 15px;
    display: inline-block;
}
#btn_list{
    display:block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 65.5%;
}
.copyright{
    width: 100%;
    color: #cccccc;
    font-size: 12px;
    position: absolute;
    top: 96.5%;
}
#return{
    color: #439316;
    text-decoration: underline;
    font-size: 23px;
    cursor: pointer;
    position: absolute;
    top:80%;
    left: 220px;
}
#reload{
    display: inline-block;
    width:165px;
    height: 40px;
    font-size: 20px;
    background: #ffba00;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #fba600;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #4d9de9;
    border: 3px solid #ffe83f;
    cursor: pointer;
}
.re_line{
    position: absolute;
    top: 0;
    width: 100%;
    top: 24%;
    text-align: center;
}
#Txtinput {
    position: absolute;
    width: 100%;
    top: 53%;
    text-align: center;
}
#phone_input{
    background: url("st.png")left center no-repeat #ffffff;
    display: inline-block;
    padding-left: 28px;
    box-shadow: 0 0 0 -5px #cccccc;
    height: 30px;
    width: 150px;
    border-radius: 3px;
    border: 0;
}
#reply{
    display: inline-block;
    margin-left: 10px;
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    background: #ffba00;
    border-radius: 5px;
    border: 2px solid #ffe83f;
}
#restart{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    cursor: pointer;
}
@media (max-height:470px)
{
    .normal{
        top: 10px;
    }
}