<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>我正在参与《中国好公民》游戏</title>
	<script src="../../../public/js/goodcitizen/jquery.min.js"></script>
	<script src="../../../public/js/goodcitizen/main.js"></script>
	<link rel="stylesheet" href="../../../public/css/goodcitizen/style.css"/>
</head>
<body>
	<div class="container">

	</div>
</body>
</html>