* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Microsoft Sans Serif";
  text-shadow: none !important;
  -webkit-appearance: none !important;
}
* li {
  list-style: none;
}
html {
  background: #fe9037 !important;
}
#LeadPage {
  background: #fe9037;
}
#LeadPage .game-title {
  width: 100%;
  margin-top: 5.5%;
}
#LeadPage .gameBack {
  font-size: 13px !important;
  color: #512604;
  text-shadow: none;
  width: 80%;
  margin: 10px auto;
}
#LeadPage .beginBtn {
  margin: 10px auto;
  width: 61.25%;
}
#LeadPage .beginBtn .imgBtn {
  display: block;
  width: 100%;
  height: 100%;
}
.copyright {
  color: #ffffff;
  text-align: center;
}
.avatar {
  margin: 0 auto;
  margin-top: 3%;
  background: #9b440c;
  padding: 3px;
  border: 5px solid #f4760f;
  width: 45.3125%;
  overflow: hidden;
}
.avatar .imgAvatar {
  width: 100%;
}
#GamePage {
  background: #fe9037;
}
#GamePage .question {
  width: 82%;
  color: #512704;
  margin: 10px auto;
  font-size: 15px;
}
#GamePage .answer3 {
  display: block;
  margin: 15px auto;
  border: 3px solid #8b3705;
  overflow: hidden;
}
#GamePage .answer3 li {
  float: left;
  background: #ffffff;
  color: #333333;
  font-weight: 700;
  font-size: 20px;
  border-right: 3px solid #8b3705;
  text-align: center;
}
#GamePage .answer2 {
  display: block;
  margin: 15px auto;
  border: 3px solid #8b3705;
  overflow: hidden;
}
#GamePage .answer2 li {
  float: left;
  background: #ffffff;
  color: #333333;
  font-weight: 700;
  font-size: 20px;
  border-right: 3px solid #8b3705;
  text-align: center;
}
#GamePage .selections {
  display: block;
  margin: 10px auto;
  overflow: hidden;
  margin-bottom: 25px;
}
#GamePage .selections li {
  float: left;
  background: #ffffff;
  margin-top: 10px;
  color: #333333;
  font-weight: 700;
  margin-right: 6px;
  font-size: 20px;
  border: 3px solid #8b3705;
  text-align: center;
}
#Introduce {
  background: #fe9037;
}
#Introduce .introWords {
  color: #613108;
  width: 83.9%;
  margin: 12px auto;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 15px;
}
#Introduce .nextBtn {
  width: 61.71%;
  margin: 0 auto;
  margin-bottom: 10px;
}
#Introduce .nextBtn img {
  width: 100%;
}
#rankPage {
  background: #fe9037;
}
#rankPage .rankTitle {
  width: 100%;
  margin-top: 12%;
}
#rankPage .phoneInput {
  display: block;
  width: 56.375%;
  padding: 2% 3%;
  margin: 6% auto;
  border-radius: 4px;
  box-shadow: inset 1px 1px 10px #ccc;
  border: none;
  font-size: 15px;
}
#rankPage .apply,
#rankPage .share {
  height: auto;
  width: 61.71875%;
  margin: 4% auto;
}
#rankPage .apply img,
#rankPage .share img {
  width: 100%;
}
#rankPage .share {
  margin-bottom: 7%;
}
#rankPage .rankWords {
  width: 100%;
  height: 200px;
}
#rankPage .rankBox {
  height: auto;
  width: 100%;
}
#rankPage .rankBox p {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
}
#rankPage .rankBox p span {
  font-size: 22px;
  margin: 5px;
}
@media (max-width: 320px) {
  .game-title {
    width: 90% !important;
    display: block !important;
    margin: 0 auto !important;
    margin-top: 4.5% !important;
  }
  .avatar {
    width: 40% !important;
  }
  .question {
    font-size: 13px !important;
  }
  .rankBox p {
    line-height: 40px !important;
  }
  .share {
    margin-bottom: 4% !important;
  }
}
