body,
html{
	height: 100%;
	background: #fdefde;
	padding: 0 0 15px 0;
}

.container{
	width: 70%;
	margin: 0 auto;
}


.container .logoContainer img{
	width: 100%;
	margin: 0 auto;
	display: block;
}

.container .btn_container{
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

.container .btn_container a{
	width: 100%;
	margin: 25px 0;
    display: block;
}

.container .btn_container a img{
    width: 100%;
}

.container .logo_container{
	width: 50%;
	margin: 20px 0;
}

.container .logo_container img{
	width: 100%;
}
