*{
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #ffffff;
  li{
    list-style: none;
  }
}
.container{
  width: auto;
  position: relative;
  overflow: hidden;
  .game_holder{
    width: 100%;
    height: 100%;
    position: absolute;
    
  }
  li{
    width: 100%;
    height: 100%;
  }
  .begin_page{
    background-image: url("../../images/goodcitizen/begin_back.jpg");
    position: relative;
    .copyright{
      position: absolute;
      width: 100%;
      top: 95%;
      text-align: center;
      color: #333333;
      font-size: 15px;
    }
    .game_title{
      width: 65%;
      height: 28.126%;
      position: absolute;
      top: 15.3125%;
      background-image: url("../../images/goodcitizen/title.png");
    }
    .back_words{
      width: 69.3725%;
      color: #494804;
      font-size: 18px;
      position: absolute;
      top: 46.25%;
      line-height: 23px;
    }
    .game_start{
      top: 70.3125%;
      background-image: url("../../images/goodcitizen/begin_btn.png");
    }
    .game_guide{
      top: 82.6%;
      background-image: url("../../images/goodcitizen/guide_btn.png");
    }
    .guide_words{
      position: absolute;
      background-image: url("../../images/goodcitizen/guide_words.png");
      top: 14.583%;
      height: 28.75%;
      width: 66.875%;
      display: none;
      .close_btn{
        float: left;
        background-image: url("../../images/goodcitizen/close.png");
        width: 11%;
        height: 16.363%;
        margin: 15px;
        float: right;
      }
    }
    .game_btn{
      width: 53.75%;
      height: 10.21%;
      position: absolute;
    }
  }
  .game_page {
    background-image: url("../../images/goodcitizen/game_bg.jpg");
    position: relative;
    .heart_list{
      width: 26.5%;
      height: 5%;
      float: right;
      margin: 10px;
      li{
        width: 32%;
        height: 100%;
        .back_size;
        float: left;
      }
      .felled{
        background-image: url("../../images/goodcitizen/felled.png");
      }
      .empty{
        background-image: url("../../images/goodcitizen/empty.png");
      }
    }
    .box_list{
      width: 100%;
      height: 13.5%;
      position: relative;
      top: 80%;
      li{
        width: 20%;
        height: 100%;
        position: absolute;
      }
    }
  }
}
.back_size{
  -webkit-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
@media (max-height:480px) {
  .container .begin_page .back_words{
    font-size: 8px;
    line-height: 20px;
  }
}
@media (min-height: 480px)and(max-height:600px) {
  .container .begin_page .back_words{
    font-size: 13px;
    line-height: 20px;
  }
}